body {
  margin: 0px;
}

.desktop-view {
  padding: 0px;
  margin: 0 auto;
}

.desktop-window {

}

.navigation {

}

.nav-top {

}

.nav-top-text-wrapper {

}

.enjoyeng-title {

}

.nav-search-input-wrapper {

}

.search-input {

}

.nav-middle {

}

.nav-content-wrapper {

}

.nav-content-title {

}

.nav-content-list {

}

.content-item {

}

.view {

}
